<div class="footer-container">
  <div class="logo">
    <img routerLink="/home" src="../../../assets/img/watchie-ver-01-03.svg" />
  </div>
  <div class="nav-bar">
    <div routerLink="/peliculas">Peliculas</div>
    <div routerLink="/series">Series</div>
    <div routerLink="/favs">Favoritas</div>
  </div>

  <div class="social-media">
    <a href="https://www.linkedin.com/in/alexp953/">
      <img  src="../../../assets/img/linkedin.svg" />
    </a>
    <a href="https://github.com/AlexP953">
      <img src="../../../assets/img/211903_github_social_icon.svg" />
    </a>
    <a href="mailto:alexperis95@gmail.com">
      <img src="../../../assets/img/mail-142.svg" />
    </a>
  </div>
</div>
