@import "../../../styles.scss";


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px;

    .card {
        display: flex;
        margin-bottom: 20px;

        img {
            width: 280px;
        }

        .fav-button {
            position: relative;
            right: 40px;

            fa-icon {
                font-size: 2rem;
            }

            .noFav {
                color: white;
            }

            .fav {
                color: $primaryOrange;
            }
        }
    }


}