<div class="component">
  <div *ngIf="audiovisuales" class="container">
    <div *ngFor="let data of audiovisuales | slice:1:30" class="card">
      <img
        src="https://image.tmdb.org/t/p/original{{ data.poster_path }}"
        (click)="navigateTo(data.id, 'movie')"
      />
      <div class="fav-button">
        <div>
          <fa-icon
            class="noFav"
            *ngIf="!data.isFavorite"
            (click)="addToFavorites(data,data.type)"
            [icon]="['far', 'heart']"
          ></fa-icon>
          <fa-icon
            class="fav"
            *ngIf="data.isFavorite"
            (click)="deleteToFavorites(data,data.type)"
            [icon]="['fas', 'heart']"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
