@import "../../../styles.scss";

.container{
        margin-left: 5%;
    }

h2{
    font-size: 2rem;
}
.category {
    display: flex;
        flex-wrap: wrap;

    .card {
        display: flex;
        margin-bottom: 20px;

        img {
            width: 280px;
        }

        .fav-button {
            position: relative;
            right: 40px;

            fa-icon {
                font-size: 2rem;
            }

            .noFav {
                color: white;
            }

            .fav {
                color: $primaryOrange;
            }
        }
    }


}